@import url("https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 30px;
}

:target {
  scroll-margin-top: 100px;
}

:root {
  --main: #0d0d0f;
  --second: #479991;
  --third: #f0faf7;
  --border: #dddddd;
  --input-bg: #f8f8f8;
  --input-hint: #aaaaaa;
  --btn-bg: #f7f7f7;
  --close-hover: #f2f2f2;
  --gray: #777777;
  --gray-light: #777777cc;
  --dropdown-bg: #fff;
  --light-gray: #eeeeee;
  --star-color: #ffd500;
  --white: #fff;
  --input-stroke: #f2f2f2;
  --border-radius: 12px;
  --transition: 0.3s ease-in-out;
  --shadow: 0px 2px 8px #0000001a;
}

.modal-header {
  border-bottom: 0;
  .btn-close {
    box-shadow: none !important;
    background-image: url("/icons/close.svg");
    margin-inline-start: auto !important;
    margin-inline-end: 0 !important;
  }
  h6 {
    color: var(--main);
    margin-bottom: 0;
  }
}

ol {
  padding: unset;
}

li[data-sonner-toast=""] {
  padding: 16px;
}

// confirmation and success modal
.confirm-btn {
  width: 100%;
  background: var(--second);
  color: var(--white);
  border: none;
  padding: 14px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    filter: brightness(90%);
  }

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }
}
button,
input,
select,
textarea {
  @include clearInput();
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  padding: unset;
}

a,
button {
  text-decoration: none;
  transition: var(--transition);
  color: #000;
}

input[type="number"] {
  &::-webkit-outer-spin-button {
    display: none;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
  appearance: textfield;
  -moz-appearance: textfield;
}

.form-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 0;
  gap: 32px;
  label {
    margin: 0;
  }
  input {
    margin-left: 0 !important;
    float: unset !important;
  }
}

.dropdown-menu {
  border: 0 !important;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  margin-top: 14px !important;
  background: var(--dropdown-bg);
  border-radius: 8px;
  padding: 8px;
  span {
    display: block;
    width: 100%;
    height: 1px;
    background: var(--input-stroke);
    margin: 8px 0;
  }
  a {
    text-align: start;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    color: var(--main);
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    gap: 8px;
    &:active {
      background: var(--white);
    }
    i {
      width: 18px;
    }
  }
}

.row {
  margin: 0;
}

.dropdown-toggle::after {
  display: none;
}
.closeModal {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  @include centerFlex();
  background: var(--close-hover);
  i {
    color: var(--main);
    font-size: 12px;
  }
}

.data-loader {
  flex: 1;
  @include centerFlex();
  flex-direction: column;
  .loader--style8 {
    width: 80px;
    height: 80px;
  }
  svg path,
  svg rect {
    fill: var(--main);
  }
}

.map_loader {
  width: 100%;
  height: 100%;
  @include centerFlex();
  background: var(--close-hover);
  i {
    font-size: 32px;
    color: var(--main);
  }
}

.back-to-top {
  position: fixed;
  z-index: 99;
  right: 8px;
  bottom: 88px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  transform: translateY(30px);
  &.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  &::before {
    position: absolute;
    font-family: "Font Awesome 6 Pro";
    content: "\f062";
    text-align: center;
    line-height: 45px;
    opacity: 1;
    height: 45px;
    width: 45px;
    font-size: 16px;
    font-weight: 600;
    color: var(--main);
  }
  svg.progress-circle path {
    stroke: var(--main);
    stroke-width: 4;
  }
}

.noComments {
  margin: auto 0;
  @include centerFlex();
  color: var(--input-hint);
}

.empty-section {
  flex: 1 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  h2 {
    margin: 0;
    text-align: center;
    text-wrap: balance;
    font-size: 36px;
    font-weight: 800;
    color: #cecece;
    line-height: 1.6;
  }
}

.error-section {
  padding: 60px 16px;
  @include centerFlex();
  gap: 16px;
  flex-direction: column;
  align-items: center;
  img {
    height: 300px;
    margin-bottom: 24px;
    @media screen and (max-width: 576px) {
      height: 230px;
    }
  }
  h2 {
    margin: 0;
    text-align: center;
    font-size: 24px;
    color: var(--main);
    line-height: 1.7;
    max-width: 600px;
    margin: 0 auto;
    @media screen and (max-width: 576px) {
      font-size: 20px;
    }
  }
  a {
    color: var(--main);
    border: 1px solid var(--main);
    position: relative;
    transition: var(--transition);
    @include centerFlex();
    padding: 8px 24px;
    transition: var(--transition);
    border-radius: 12px;
    gap: 8px;
    background: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    position: relative;
    transition: var(--transition);
    i {
      font-size: 16px;
    }
    &:hover {
      color: var(--white);
      border-color: var(--main);
      background-color: var(--main);
    }
  }
}

// Phone Input customization
.react-tel-input {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid var(--input-stroke);
  background: var(--input-bg);
  height: 52px;
  border-radius: 12px;
  direction: ltr;
  .form-control {
    width: 100%;
    height: 100%;
    color: var(--main);
    font-size: 14px;
    background: var(--input-bg);
    padding: 8px;
    border-radius: 12px;
    direction: ltr;
    border: 0;
  }

  .flag-dropdown {
    background: transparent;
    border: none;
    position: static;
    border-radius: 12px 0 0 12px;
    min-width: 52px;
    &.open {
      background: var(--input-bg);
      border-radius: 12px;
      .selected-flag {
        border-radius: 12px;
        background: var(--input-bg);
      }
    }
  }

  .selected-flag {
    background: transparent;
    padding: 0;
    width: 100%;
    border-radius: 12px;
    @include centerFlex();
    .arrow {
      border-top-color: var(--main);
      &.up {
        border-bottom-color: var(--main);
      }
    }
    &:hover,
    &:focus {
      background: var(--input-bg);
    }
  }

  .country-list {
    width: 100%;
    left: 0;
    background: var(--dropdown-bg);
    border: 1px solid var(--light-gray);
    border-radius: 12px;
    box-shadow: var(--shadow);
    margin-top: 4px;
    scrollbar-width: none;
    .search {
      padding: 8px;
      input {
        margin: 0;
        border: 1px solid var(--input-stroke);
        height: 42px;
        border-radius: 8px;
        direction: ltr !important;
      }
      background: var(--white);
      span {
        display: none;
      }
    }
    .country {
      color: var(--main);
      padding: 8px 10px;
      &:hover {
        background: var(--input-bg);
      }
      &.highlight {
        background: var(--input-bg);
      }
    }
    .dial-code {
      color: var(--gray);
    }
  }
}

input[type="email"] {
  direction: ltr !important;
}

.stars_rate {
  display: flex;
  align-items: center;
  gap: 16px;
  .stars {
    display: flex;
    align-items: center;
    gap: 2px;
    span {
      color: var(--gray);
      font-size: 16px;
      margin: 0;
    }
    img {
      height: 14px;
    }
  }
}

.calender_modal {
  p {
    color: var(--gray);
    font-size: 16px;
  }
}

.preloader {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .preloaderImg {
    width: 100px;
    height: 100px;
    mask-image: url("/images/loader.webp");
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      height: 100px;
      z-index: 2;
      background-color: var(--second);
      transform: translateY(100%);
      animation: slide-up 1.5s forwards;
    }
    &::before {
      content: "";
      display: block;
      width: 100px;
      height: 100px;
      background-image: url("/images/loader.webp");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      filter: grayscale(1) opacity(0.5);
    }
    @keyframes slide-up {
      from {
        transform: translateY(100%);
      }
      to {
        transform: translateY(0%);
      }
    }
  }
}

.mapSearchInput {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 54px;
  width: calc(100% - 16px);
  border: 1px solid var(--border);
  background: var(--white);
  padding: 12px 16px;
  border-radius: 12px;
  outline: none;
  color: var(--main);
  &::placeholder {
    color: var(--gray);
  }
}

.modal-content {
  border-radius: 28px;
}

.tableLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 72.8px);
  min-width: 100%;
  max-height: 100%;

  .loader--style8 {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.no-data {
  min-height: 400px;
  @include centerFlex();
  font-size: 42px;
  font-weight: 700;
  color: var(--input-hint);
  width: min(450px, 100%);
  text-align: center;
  margin: 0 auto;
}
