footer {
  border-top: 1px solid var(--input-stroke);
  .col {
    display: flex;
    flex-direction: column;
    gap: 10px;
  
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      height: 48px;
    }

    h4 {
      font-size: 20px;
      color: var(--main);
    }
  }
    h5 {
      font-size: 16px;
      color: var(--dray-light);
      line-height: 1.3;
    }

    .links {
      display: flex;
      flex-direction: column;
      gap: 8px;

      a {
        color: var(--gray);
        font-size: 14px;
        transition: var(--transition);

        &:hover {
          color: var(--second);
        }
      }
    }
  }

  .btns {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    img {
      height: 38px;
    }
  }

  .copy_rights {
    padding: 28px 0 20px;
    margin-top: 16px;
    border-top: 1px solid var(--input-stroke);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    p {
      color: var(--main);
      font-size: 14px;
      margin: 0;

      a {
        color: var(--main);
        transition: var(--transition);

        &:hover {
          color: var(--second);
        }
      }
    }

    .social_media {
      display: flex;
      align-items: center;
      gap: 12px;

      a {
        color: var(--second);
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 14px;
        background: var(--close-hover);
        transition: var(--transition);

        &:hover {
          color: var(--white);
          background: var(--second);
        }
      }
    }
  }
} 
.small_menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: var(--white);
  align-items: center;
  box-shadow: var(--shadow);
  display: none;
  @media screen and (max-width: 991px) {
    display: flex;
  }
  .menu_item {
    @include centerFlex();
    flex-direction: column;
    flex: 1;
    padding: 16px 12px;
    gap: 8px;
    color: var(--main);
    font-size: 14px;
    i {
      font-size: 18px;
      color: var(--second);
    }
    .center {
      width: 42px;
      height: 42px;
      background: var(--second);
      font-size: 24px;
      color: var(--white);
      @include centerFlex();
      border-radius: 50%;
      i {
        color: var(--white);
      }
    }
  }
}
