.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &.reverse-form {
    .form-check-input {
      cursor: pointer;
      box-shadow: none !important;
      &:focus {
        border-color: var(--border);
      }
      &:checked {
        background-position: right center;
        background-image: url("/images/icons/check-checked-icon.svg");
        border-color: var(--second);
      }
    }
    .dropdown {
      .button {
        background-color: var(--white) !important;
      }
    }
    .file_upload label {
      background-color: var(--white) !important;
    }
    input,
    select,
    textarea,
    .image_upload {
      background-color: var(--white) !important;
    }
  }

  .resend-code {
    width: 100%;
    display: flex;
    padding: 10px 0 0;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
    .resend_link {
      display: flex;
      align-items: center;
      white-space: nowrap;
      color: var(--second);
      gap: 6px;
      cursor: pointer;

      span {
        white-space: nowrap;
        color: var(--second);
        cursor: pointer;
      }

      &.disabled {
        pointer-events: none;

        span {
          color: var(--second);
          cursor: default;
        }
      }
    }
    .timer {
      flex: 1 0;
      display: flex;
      justify-content: end !important;
      span {
        color: var(--second);
      }
    }
  }

  .back_btn {
    height: 52px;
    border-radius: 12px;
    border: 1px solid var(--border);
    width: 90px;
    color: var(--main);
    cursor: pointer;
    background: none;
    transition: 0.3s ease-in-out;
    &:hover {
      background: var(--second);
      color: #fff;
      border: 1px solid var(--second);
    }

    i {
      font-size: 18px;
    }
  }

  .input-field {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    gap: 8px;
    flex-wrap: wrap !important;
    label {
      color: var(--main);
      display: flex;
      align-items: center;
      gap: 6px;
      flex-wrap: wrap;
      svg,
      i {
        stroke: var(--main);
        width: 16px;
        height: 16px;
      }
      img {
        height: 24px;
      }
      span {
        font-size: 12px;
        color: var(--second);
        width: 100%;
      }
    }
    input,
    textarea,
    select {
      color: var(--main);
      direction: rtl;
      height: 52px;
      width: 100%;
      border: none;
      outline: none;
      padding: 8px 12px;
      border-radius: 12px;
      background: var(--input-bg);
      border: 1px solid var(--border);
      font-size: 14px;
      box-shadow: none !important;
      &::placeholder {
        font-size: 14px;
      }
    }
    textarea {
      height: 140px;
      padding: 16px 12px;
    }
    .input-span {
      position: absolute;
      color: var(--second);
      left: 12px;
      top: 46px;
    }
  }

  .forgetpass {
    align-self: flex-end;
    color: var(--second);
  }

  .noAccount {
    color: var(--main);
    span,
    a {
      color: var(--second);
      cursor: pointer;
    }
  }
  p {
    color: var(--second);
    a {
      color: var(--second);
      text-decoration: underline;
    }
  }

  button {
    width: 100%;
    height: 52px;
    gap: 6px;
    border-radius: 12px;
    @include centerFlex();
    @include clearInput();
    color: #fff;
    background: var(--second);
    &.disabled {
      opacity: 0.7;
      pointer-events: none;
    }
    &.fit {
      width: fit-content;
      padding: 0 52px;
    }
    &.personal-account,
    &.btn-register {
      background: none;
      color: var(--second);
      border: 1px solid var(--second);
    }
  }

  .question {
    padding: 0 0 30px;
    width: 100%;
    @include space-between();
    .quest {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--main);
    }
    .vendorInput {
      appearance: none;
      position: relative;
      cursor: pointer;
      &::after {
        display: block;
        width: 48px;
        height: 24px;
        border-radius: 16px;
        content: "";
        background-color: var(--second);
        transition: var(--transition);
      }
      &::before {
        transition: var(--transition);
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        right: 4px;
        content: "";
        background-color: var(--white);
      }
      &:checked {
        &::after {
          background-color: var(--second);
        }
        &::before {
          right: initial;
          left: 4px;
        }
      }
    }
  }

  .auth_social_btn {
    @include clearInput();
    @include centerFlex();
    cursor: pointer;
    width: 100%;
    height: 48px;
    border-radius: 12px;
    border: 1px solid var(--second);
    color: var(--main);
    gap: 16px;
    img {
      height: 28px;
    }
  }
  .image-change-wrapper {
    border-radius: 16px;
    border: 1px solid var(--border);
    @include centerFlex();
    flex-direction: column;
    padding: 16px;
    .img-wrap {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      overflow: visible;
      border: 1px solid var(--input-hint);
      @include centerFlex();
      position: relative;

      &:hover {
        .upload-btn-img {
          bottom: 0;
        }
      }

      .dropdown {
        position: absolute !important;
        bottom: 0 !important;
        left: 0 !important;
      }

      .dropdown-item {
        display: flex;
        align-items: center;
        gap: 8px;
        line-height: 1;
        padding-top: 8px;
        padding-bottom: 8px;

        i {
          font-size: 14px;
        }
      }

      .upload-btn {
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--main) !important;
        box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.4);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        transition: var(--transition);
        bottom: -4px;
        left: 4px;

        * {
          cursor: pointer;
        }
        i {
          font-size: 14px;
          line-height: 2;
        }
      }

      .upload-btn-img {
        position: absolute;
        width: 100%;
        height: 50%;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        line-height: 1;
        border-radius: 50%;
        bottom: -110%;
        left: 0;
        cursor: pointer;
        transition: var(--transition);
        * {
          cursor: pointer;
        }
      }
      .img-box {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        @include centerFlex();
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          object-fit: cover;
          &.icon {
            width: 50%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
    .upload {
      input {
        display: none;
      }
      .plus {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: var(--main);
        @include centerFlex();
        cursor: pointer;
        i {
          font-size: 14px;
          color: #fff;
        }
      }
    }
  }
  .pass-group {
    display: flex;
    align-items: center;
    width: 100%;
    align-items: end;
    position: relative;
    // gap: 2px;
    direction: rtl !important;

    .show-pass {
      @include centerFlex();
      width: 60px;
      height: 52px;
      border: 1px solid var(--border);
      background: var(--input-bg);
      border-right: 0;
      border-radius: 12px 0 0 12px !important;
      color: var(--second);
      cursor: pointer;
    }
    input {
      border-left: 0 !important;
      border-radius: 0 12px 12px 0 !important;
    }
  }

  .phone-group {
    .PhoneInput {
      display: flex;
      gap: 12px;
      flex-direction: row-reverse;
      .PhoneInputCountryIcon {
        position: relative;
      }
      .PhoneInputCountryIconImg {
        width: 20px;
        position: absolute;
        top: -33px;
        left: 10px;
      }
      select {
        padding: 12px 6px 12px 30px;
        direction: ltr !important;
      }
    }
    .phone-code {
      height: 54px;
      border-radius: 4px;
    }
  }

  .form_group {
    display: flex;
    gap: 16px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  .image_field {
    width: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column;
    label {
      color: var(--main);
      i {
        color: var(--gray);
      }
    }
    .imagewrap {
      border-radius: 12px;
      padding: 12px;
      border: 1px solid var(--gray);
      height: 160px;
      @include centerFlex();
      input {
        display: none;
      }
      .img {
        width: 100%;
        height: 100%;
        @include centerFlex();
        img {
          height: 100%;
          object-fit: scale-down;
        }
      }
    }
  }

  .advice {
    width: 100%;
    margin: 40px 0;
    border-radius: 4px;
    background-color: var(--main);
    position: relative;
    padding-top: 22px;
    padding-bottom: 32px;
    h6 {
      text-align: center;
      font-weight: 600;
      margin: 32px 0 12px;
      font-size: 16px;
      color: var(--main);
    }
    .icon {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: var(--main);
      border: 2px solid var(--white);
      @include centerFlex();
      img {
        max-height: 40px;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: fit-content;
      li {
        color: var(--main);
        gap: 6px;
        display: flex;
        align-items: center;
        i {
          width: 40px;
          color: #7dc0f7;
          font-size: 24px;
        }
      }
    }
  }

  .verify_image_field {
    padding: 22px;
    width: 100%;
    height: 230px;
    border: 1px solid var(--gray);
    @include centerFlex();
    border-radius: 16px;
    cursor: pointer;
    input {
      display: none;
    }
  }

  .phone_field {
    display: flex;
    align-items: center;
    width: 100%;
    align-items: end;
    position: relative;
    direction: rtl !important;

    input {
      border-radius: 0 12px 12px 0;
    }
    .dropdown {
      height: 52px;
      .button {
        border-radius: 12px 0 0 12px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 12px;
      }
    }
    img {
      height: 18px;
      aspect-ratio: 3 / 2;
      border-radius: 4px;
    }
    .button {
      background: var(--input-bg);
      padding: 0 12px;
      color: var(--main);
      min-width: 94px;
      border: 1px solid var(--border);
      border-right: 0;
      span {
        direction: ltr;
        line-height: 1;
      }
    }
    .countriesMenu {
      display: none;
      opacity: 0;
      flex-direction: column;
      position: absolute;
      top: 64px;
      left: 0;
      background: var(--white);
      z-index: 9;
      padding: 12px;
      border-radius: 12px;
      box-shadow: var(--shadow);
      gap: 4px;
      transition-property: opacity, display;
      transition-duration: 0.3s;
      transition-behavior: allow-discrete;
      .country {
        padding: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 62px;
        border-radius: 12px;
        cursor: pointer;
        p {
          margin: 0;
          direction: ltr;
          color: var(--main);
        }
        .text {
          display: flex;
          align-items: center;
          gap: 8px;
          h6 {
            text-wrap: nowrap;
            margin: 0;
            font-size: 14px;
          }
        }
        &:hover {
          background: var(--input-bg);
        }
      }
      &.active {
        display: flex;
        opacity: 1;
      }
    }
  }
}

.head {
  span {
    color: var(--second);
  }
}
.radios {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  .label-content {
    height: unset !important;
    padding: 8px 0 !important;
    flex-direction: column !important;
    gap: 8px;
  }
  label {
    flex: 1;
    input {
      display: none;
    }
    span {
      min-height: 52px;
      width: 100%;
      background: var(--white);
      color: var(--main) !important;
      font-size: 16px !important;
      cursor: pointer;
      border: 1px solid var(--border);
      @include centerFlex();
      border-radius: 12px;
      transition: var(--transition);
      padding: 12px;
      white-space: nowrap;
      &.active {
        background: var(--second) !important;
        border-color: var(--second) !important;
        color: var(--white) !important;
      }
    }
  }
}
.image-upload-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .image-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    border: 2px solid #ddd;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    .upload-button {
      width: 32px;
      height: 32px;
      background-color: var(--second);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 5px;
      right: 5px;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease;
      i {
        color: white;
        font-size: 16px;
      }

      &:hover {
        background-color: #479991e3;
      }
    }
  }
}

.form_group {
  display: flex;
  gap: 20px;
  width: 100%;

  .image-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-label {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 8px;
      color: #555;
      text-align: center;
    }

    .upload-box {
      width: 100%;
      height: 180px;
      display: flex;
      position: relative;
      overflow: hidden;
      border: 2px dashed var(--border);
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.3s ease;
      background-color: #f9f9f9;

      &:hover {
        border-color: var(--second);
      }
      .uploaded-image {
        width: 100%;
        height: 100%;
        object-fit: cover;       
      }
      .upload-content {
        text-align: center;

        i {
          font-size: 30px;
          color: #888;
        }

        .title {
          font-size: 14px;
          font-weight: bold;
          margin-top: 8px;
          color: #333;
        }

        .subtitle {
          font-size: 12px;
          color: #777;
        }
      }
    }
  }
}
.upload-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 2px dashed #ccc;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.uploaded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .form_group {
    flex-direction: column;

    .image-container {
      width: 100%;
    }
  }
}
.upload-hint {
  margin-top: 10px;
  font-size: 15px;
  color: var(--main) !important;
}

// .stars {
//   display: flex;
//   gap: 4px;
//   li {
//     color: $lightGray;
//     &.star {
//       color: $starColor;
//     }
//   }
// }

// .star-rating-service {
//   display: flex;
//   flex-direction: row-reverse;
//   gap: 12px;
//   label {
//     cursor: pointer;
//     color: $lightGray;
//     &.active {
//       color: $starColor;
//     }
//   }
//   input {
//     appearance: none;
//     display: none;
//   }
// }

.otp-container {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  direction: ltr !important;
  @media (max-width: 576px) {
    gap: 8px;
  }
  .otp-input {
    border-radius: 12px;
    flex: 1;
    width: inherit;
    height: 80px !important;
    text-align: center;
    border: 1px solid var(--second);
    background: var(--second) 10;
    font-size: 28px !important;
    font-weight: 600;
    color: var(--second) !important;
    outline: none;
    &::-webkit-inner-spin-button {
      display: none;
    }
    @media (max-width: 576px) {
      height: 60px !important;
    }
  }
}
label {
  white-space: nowrap !important;
  flex-wrap: nowrap;
  div {
    white-space: nowrap !important;
  }
}

// .cover-wrap {
//   cursor: pointer;
// }

@media screen and (max-width: 576px) {
  .head {
    margin-top: 24px;
  }
}
.audio-recorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2px dashed #ccc;
  border-radius: 10px;

  .record-btn {
    background: var(--second);
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
    position: relative;

    &.recording {
      background: var(--second);
      animation: pulseEffect 1.5s infinite;
    }
  }

  @keyframes pulseEffect {
    0% {
      box-shadow: 0 0 0 0 rgba(71, 153, 145, 0.5);
    }
    50% {
      box-shadow: 0 0 15px 10px rgba(71, 153, 145, 0.2);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(71, 153, 145, 0.5);
    }
  }
}

.audio-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 10px;

  .play-audio-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #333;

    &:hover {
      color: #479991;
    }
  }

  .waveform-container {
    flex-grow: 1;
    margin: 0 10px;
  }

  .remove-audio-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: red;

    &:hover {
      color: darkred;
    }
  }
}
