header {
  padding: 16px 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--white);
  border-bottom: 1px solid var(--light-gray);

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      flex: 1;
      img {
        height: 36px;
      }
    }

    .nav_links {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 2;
      gap: 52px;
      a {
        font-size: 16px;
        color: var(--main);
        &.active {
          color: var(--second);
        }
        @media screen and (min-width: 992px) {
          display: block;
        }
        @media screen and (max-width: 992px) {
          display: none;
        }
      }
    }

    .actions {
      gap: 16px;
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;

      .rounded_btn {
        width: 40px;
        position: relative;
        height: 40px;
        display: flex;
        background: var(--btn-bg);
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: var(--main);
        border: 0;
        font-size: 18px;
        padding: 0;
        box-shadow: none !important;
        &:active {
          background: var(--btn-bg);
          color: var(--main);
        }
        &.show {
          background: var(--btn-bg);
        }
        i {
          color: var(--second);
        }
        .user_img_icon {
          object-fit: contain;
        }
        .user_img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
        span {
          position: absolute;
          top: 0px;
          right: -6px;
          width: 20px;
          height: 20px;
          line-height: normal;
          border-radius: 50%;
          background: var(--second);
          display: flex;
          justify-content: center;
          color: var(--white);
        }
      }
    }
  }
}
