.hero-section {
  padding: 32px 0;
  .img {
    width: 100%;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

.why-us {
  padding: 32px 0;
  border-top: 1px solid var(--input-stroke);
  .why-box {
    background-color: var(--third);
    padding: 30px;
    border-radius: 16px;

    h3 {
      color: var(--second);
      font-weight: 700;
      font-size: 34px;
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 30px;
      color: var(--grey-light);
    }
  }

  .icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    text-align: center;
    padding: 24px;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    border: 1px solid color-mix(in srgb, var(--second), transparent 90%);
    transition: var(--transition);
    i {
      color: var(--second);
      font-size: 32px;
      margin-bottom: 30px;
      background: color-mix(in srgb, var(--second), transparent 95%);
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 72px;
      height: 72px;
      transition: 0.3s;
    }

    h4 {
      font-size: 20px;
      font-weight: 500;
      margin: 0 0 20px 0;
    }

    p {
      margin: 0;
      color: color-mix(in srgb, var(--gray), transparent 30%);
    }

    &:hover {
      transform: translateY(-8px);
    }
  }
}

.services {
  text-align: center;
  padding: 16px 0 40px;
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .subtitle {
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--gray-light);
  }

  .pagination {
    margin-top: 20px;
    justify-content: center;

    .page-item {
      .page-link {
        color: var(--white) !important;
        background-color: var(--second) !important;
        border: none !important;
        margin: 0 5px !important;

        &:hover {
          opacity: 0.5;
        }

        &.active {
          opacity: 0.5;
        }
      }
    }
  }
}

.latest-works {
  padding: 50px 0;
  direction: rtl;

  .sec_header {
    text-align: center;
    margin-bottom: 20px;

    .section_title {
      h2 {
        font-size: 32px;
        font-weight: bold;
        color: var(--second);
      }

      p {
        font-size: 14px;
        color: var(--gray-light);
      }
    }
  }

  .business_swiper {
    padding: 20px 0;

    .swiper-slide {
      display: flex;
      justify-content: center;
    }
  }
}

.how-it-works-section {
  padding: 40px 0;
  background: var(--third);
  h4 {
    font-weight: 700;
  }
  h5 {
    font-weight: 600;
  }
  .img-fluid {
    width: 65%;
  }
  .h-card {
    margin: auto 0;
    i {
      color: var(--second);
    }
  }
}

@keyframes imgDownUp {
  0% {
    transform: translateY(5%);
    -webkit-clip-path: inset(100% 0 0 0);
    clip-path: inset(100% 0 0 0);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

@keyframes imgUpDown {
  0% {
    transform: translateY(-5%);
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

[data-aos="ImgUp"] {
  opacity: 0;
  &.aos-animate {
    animation: imgUpDown 0.8s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
  }
}

[data-aos="ImgDown"] {
  opacity: 0;
  &.aos-animate {
    animation: imgDownUp 0.8s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
  }
}
