.orderDetails {
  margin: auto;
  padding: 24px 0;

  h2 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .driversList {
    background-color: var(--third);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .details {
    background-color: #f5f5f5;
    border-radius: var(--border-radius);

    audio {
      display: block;
      border: 2px solid #ffffff;
      width: 100%;
      background: #f1f3f4;
      border-radius: 12px;
      padding: 4px;
      outline: none;
      @media screen and (max-width: 576px) {
        width: 250px;
        padding: 0;
      }
    }
  }
  @keyframes loadingGradient {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .searchButton {
    width: 100%;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #1d483f, #479991, #198754);
    background-size: 200% 100%;
    animation: loadingGradient 2s linear infinite;
    border: none;
  }

  .cancelButton {
    width: 100%;
    background: var(--main);
    color: white;
    padding: 12px;
    border-radius: 12px;
    margin-top: 18px;
  }
  .cancelButton:hover {
    opacity: 0.9;
  }
}
