.orderDetails {
  margin: auto;
  padding: 24px 0;

  h2 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .driversList {
    background-color: var(--third);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 16px;

    .noOffers {
      color: #1d483f;
      font-weight: 600;
      margin: 16px 0;
      font-size: 18px;
      text-align: center;
    }
  }
  .details {
    background-color: #f5f5f5;
    border-radius: var(--border-radius);

    audio {
      display: block;
      border: 2px solid #ffffff;
      width: 100%;
      background: #f1f3f4;
      border-radius: 12px;
      padding: 4px;
      outline: none;
      @media screen and (max-width: 576px) {
        width: 250px;
        padding: 0;
      }
    }
  }
  @keyframes loadingGradient {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .searchButton {
    width: 100%;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #1d483f, #479991, #198754);
    background-size: 200% 100%;
    animation: loadingGradient 2s linear infinite;
    border: none;
  }
}

.cancelButton {
  width: 100%;
  background: var(--main);
  color: white;
  padding: 12px;
  border-radius: 12px;
  margin-top: 18px;
  &:hover {
    opacity: 0.9;
  }
}

.orderStatus {
  width: 100%;
  background: #1d483f;
  height: 56px;
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 12px;
  isolation: isolate;
  position: relative;

  .step_indicator {
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    color: var(--white);
  }

  .progress_indicator {
    background: #479991;
    position: absolute;
    right: 0;
    z-index: 0;
    height: 56px;
    border-radius: 12px;
  }
}

.canceled_order {
  width: 100%;
  background: #ffe1e1;
  padding: 12px 16px;
  border-radius: 16px;
  h6 {
    color: #de0000;
  }
  p {
    color: #777777;
    margin: 0;
    span {
      margin-inline-start: 12px;
      color: #000;
    }
  }
}

.orderDetails-title {
  display: flex;
  align-items: center;
  gap: 12px;
  button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
}

.technical_card {
  padding: 16px;
  border: 1px solid #e4e6e8;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 12px 0px #0000001a;
  .technical {
    display: flex;
    align-items: center;
    gap: 16px;
    .img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 1px solid #f1f3f4;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content {
      h6 {
        color: #000;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 4px;
      }
      p {
        color: var(--input-hint);
        margin-bottom: 0;
      }
    }
  }
  a {
    width: 48px;
    height: 48px;
    border: 1px solid #f1f3f4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 24px;
    }
  }
}

.addOfferForm {
  background: var(--input-bg);
  padding: 16px;
  border-radius: 16px;
  input {
    background: var(--white) !important;
  }
  .btns {
    display: flex;
    gap: 12px;
    .unInterested {
      width: fit-content !important;
      border: 1px solid var(--main) !important;
      color: var(--main) !important;
      background: transparent !important;
      text-wrap: nowrap;
      border-radius: 12px;
      cursor: pointer;
      @include centerFlex();
      padding: 0 24px !important;
    }
  }
}
