.service-details {
  padding: 40px 0;
  width: 100%;

  .service_details_card {
    background: var(--third);
    border-radius: 24px;
    padding: 24px;
    gap: 24px;
    display: flex;
    align-items: center;
    .img {
      background: var(--white);
      border-radius: 24px;
      padding: 12px;
      img {
        height: 84px;
      }
    }
    h2 {
      color: var(--second);
      font-size: 28px;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 12px;
      li {
        display: flex;
        align-items: center;
        gap: 8px;
        h6 {
          margin: 0;
        }
        img {
          height: 22px;
        }
      }
    }
  }

  h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .label-container {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 8px;
      font-weight: bold;
    }

    textarea {
      width: 100%;
      height: 140px;
      border: 1px solid var(--border);
      border-radius: 12px;
      padding: 10px;
      resize: none;
      background: #f8f8f8;
    }
  }

  .image-upload {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .image-preview {
      position: relative;
      width: 120px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        object-fit: cover;
      }

      .remove-btn {
        position: absolute;
        top: 8px;
        left: 8px;
        background: var(--white);
        border: none;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        padding: 2px;
        cursor: pointer;
        span {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          justify-content: center;
          background: red;
          i {
            color: white;
            font-size: 12px;
          }
        }
      }
    }

    .upload-btn {
      width: 120px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      background: #f8f8f8;
      border-radius: 12px;
      cursor: pointer;
      border: 1px solid var(--border);

      input {
        display: none;
      }
    }
  }

  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      border-radius: 34px;
      transition: 0.4s;

      &:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 4px;
        bottom: 3px;
        background-color: var(--white);
        transition: 0.4s;
        border-radius: 50%;
      }
    }

    input:checked + .slider {
      background-color: var(--second);

      &:before {
        transform: translateX(18px);
      }
    }
  }

  @media (max-width: 768px) {
    padding: 16px;
  }
}

.date-time-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;

  .date-time-input {
    padding: 12px;
    border: 1px solid var(--border);
    border-radius: 12px;
    background: #f8f8f8;
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: var(--gray-light);

    &::-webkit-calendar-picker-indicator {
      filter: invert(44%) sepia(20%) saturate(800%) hue-rotate(130deg);
      cursor: pointer;
    }
  }
}

.confirm-delete {
  padding: 20px;
  font-size: 16px;
  color: var(--main);

  .modal-header {
    border-bottom: none;

    .btn-close {
      opacity: 1;
      font-size: 20px;
      &:hover {
        filter: brightness(80%);
      }
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      color: var(--gray);
      max-height: 170px;
      overflow-y: auto;
    }
  }

  .form-check {
    display: flex;
    align-items: center;
    gap: 12px;

    .form-check-input {
      border-color: var(--second);
      background-color: transparent;
      width: 20px;
      height: 20px;
      cursor: pointer;

      &:checked {
        background-color: var(--second);
        border-color: var(--second);
      }
    }

    .form-check-label {
      &:lang(ar) {
        margin-left: 15px;
        margin-right: 0;
      }
    }
  }
}

.success-modal {
  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .success-img {
    max-width: 70%;
    height: auto;
  }

  .success-text {
    font-size: 18px;
    color: var(--main);
    text-align: center;
  }
}
