.service-details {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
  
    h2 {
      font-size: 18px;
      margin-bottom: 5px;
    }
    .error-message {
      color: red;
      font-size: 14px;
      margin-top: 10px;
      text-align: center;
    }
    .section {
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      .label-container {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: bold;
      }
  
      textarea {
        width: 100%;
        height: 80px;
        border: 1px solid var(--border);
        border-radius: 5px;
        padding: 10px;
        resize: none;
      }
    }
  
    .image-upload {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
  
      .image-preview {
        position: relative;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
  
        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          object-fit: cover;
        }
  
        .remove-btn {
          position: absolute;
          top: 2px;
          right: 2px;
          background: var(--white);
          border: none;
          border-radius: 50%;
          width: 22px;
          height: 22px;
          cursor: pointer;
  
          i {
            display: flex;
            justify-content: center;
            align-items: center;
            color: red;
            font-size: 18px;
          }
        }
      }
  
      .upload-btn {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        background: #ddd;
        border-radius: 5px;
        cursor: pointer;
        border: 1px dashed var(--border);
  
        input {
          display: none;
        }
      }
    }
  
    .toggle-switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
  
      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
  
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        border-radius: 34px;
        transition: 0.4s;
  
        &:before {
          position: absolute;
          content: "";
          height: 14px;
          width: 14px;
          left: 3px;
          bottom: 3px;
          background-color: var(--white);
          transition: 0.4s;
          border-radius: 50%;
        }
      }
  
      input:checked + .slider {
        background-color: var(--second);
  
        &:before {
          transform: translateX(18px);
        }
      }
    }
  
    @media (max-width: 768px) {
      padding: 15px;
  
      .image-upload {
        justify-content: center;
      }
  
      .confirm-btn {
        font-size: 14px;
      }
    }
  }
  
  .date-time-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  
    .date-time-input {
      padding: 10px;
      border: 1px solid var(--border);
      border-radius: 5px;
      background: var(--third);
      font-size: 16px;
      text-align: center;
      color: var(--gray-light);
  
      &::-webkit-calendar-picker-indicator {
        filter: invert(44%) sepia(20%) saturate(800%) hue-rotate(130deg);
        cursor: pointer;
      }
    }
    
  }
  // confirmation modal
  .confirm-delete {
    padding: 20px;
    font-size: 16px;
    color: var(--main);
  
    .modal-header {
      border-bottom: none;
  
      .btn-close {
        opacity: 1;
        font-size: 20px;
        &:hover {
          filter: brightness(80%);
        }
      }
    }
  
    .modal-body {
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      p {
        color: var(--gray);
        max-height: 170px;
        overflow-y: auto;
      }
    }
  
    .form-check {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row-reverse;
  
      .form-check-input {
        order: 2;
        border-color: var(--second);
        background-color: transparent;
        width: 20px;
        height: 20px;
        cursor: pointer;
  
        &:checked {
          background-color: var(--second);
          border-color: var(--second);
        }
      }
  
      .form-check-label {
        margin-top: 5px;
        order: 1;
        margin-right: 26px;
  
        &:lang(ar) {
          margin-left: 15px;
          margin-right: 0;
        }
      }
    }
  }
  
  /* Success Modal */
  .success-modal {
    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  
    .success-img {
      max-width: 70%;
      height: auto;
    }
  
    .success-text {
      font-size: 18px;
      color: var(--main);
      text-align: center;
    }
  }