.orders-container {
    text-align: center;
    padding: 20px;
  
    .tabs {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-bottom: 20px;
      padding:0px  20px;

  
      button {
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        background: var(--btn-bg);
        color: var(--gray-light);
        border: 1px solid var(--border);
        border-radius: 5px;
        font-size: 16px;
        transition: background 0.3s ease;
  
        &.active {
          background: var(--second);
          color: var(--white);
        }
  
    
      }
    }
  
    .orders-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
  
   
    }
  }
  