@import "./config";
@import "./header";
@import "./footer";
@import "./form-ui";
@import "./cards";
@import "./not_found";

body {
  direction: rtl;
  font-family: "Zain", serif;
  background-color: var(--white);
  main {
    min-height: calc(100vh - 100px);
  }

  @import "./home";
  @import "./auth";
  @import "./services";
  @import "./orders";

  &.en {
    direction: ltr;
    font-family: "Outfit", sans-serif;
    .form .input-field input,
    .form .input-field textarea,
    .form .input-field select {
      direction: ltr;
    }
  }
}
