@import "./config";
@import "./header";
@import "./footer";
@import "./form-ui";
@import "./cards";
@import "./not_found";

body {
  direction: rtl;
  font-family: "Zain", serif;
  background-color: var(--white);

  main {
    min-height: calc(100vh - 72.8px);
  }

  @import "./home";
  @import "./auth";
  @import "./services";
  @import "./orders&settings";
  @import "./order-details";

  &.en {
    direction: ltr;
    font-family: "Open Sans", sans-serif;
    .settings-list .settings-item .arrow {
      transform: scaleX(-1);
    }
    .profile-container .profile-form .input-field .input-wrapper .input-icon {
      right: auto;
      left: 10px;
    }
    .profile-container
      .profile-form
      .input-field
      .input-wrapper
      input.form-control {
      padding-left: 40px;
    }
    input[type="email"] {
      text-align: left;
    }
    .orderStatus .progress_indicator {
      right: initial;
      left: 0;
    }
    .form .input-field input,
    .form .input-field textarea,
    .form .input-field select {
      direction: ltr;
      background-position: top calc(0.7em + 0.1875rem) right
        calc(0.375em + 0.1875rem);
    }
    .form .back_btn i {
      transform: scale(-1);
    }
    .closeModal {
      left: initial;
      right: 16px;
    }
    .contact_page .contact-form .input-field .input-wrapper {
      input.form-control,
      textarea.form-control {
        direction: ltr;
      }
      input.form-control[type="email"] {
        padding-inline-end: unset;
        padding-inline-start: 40px;
      }
      .input-icon {
        left: 16px;
        right: unset;
      }
    }
    .profile-container .profile-form .input-field .input-wrapper {
      input.form-control,
      select.form-select {
        direction: ltr;
      }
    }
    .form .resend-code .timer {
      direction: rtl !important;
      justify-content: flex-end !important;
    }
  }
  input[type="email"] {
    text-align: right;
  }
}
