/* Error: It's not clear which file to import. Found:
 *   _header.scss
 *   header.scss
 *   ,
 * 2 | @import "./header";
 *   |         ^^^^^^^^^^
 *   '
 *   style.scss 2:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: It's not clear which file to import. Found:\a   _header.scss\a   header.scss\a   \2577 \a 2 \2502  @import \"./header\";\d\a   \2502          ^^^^^^^^^^\a   \2575 \a   style.scss 2:9  root stylesheet";
}
